
@{
    Layout = "InstallLayout";
}

<h3>Welcome!</h3>

<p>Welcome to PEngine Installer! I'm really glad to take you to enriched experience of blogging, with simplified steps.</p>

<p>To proceed, please click [Next].</p>