@{
    ViewData["Title"] = "Register Account";
    Layout = "MemberLayout";
}
    <h2>@ViewData["Title"]</h2>

<form id="registerForm" method="post">
    <div class="form-entity">
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" name="Email" placeholder="example@example.com" required />
    </div>
    <div class="form-entity">
        <label for="inputUsername">User Name</label>
        <input type="text" id="inputUsername" name="UserName" />
    </div>
    <div class="form-entity">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="Password" />
    </div>        
    <div class="form-entity">
        <label for="inputPasswordConfirm">Password Confirm</label>
        <input type="password" id="inputPasswordConfirm"/>
    </div>
        
    <input type="submit" value="Register" />
    @Html.AntiForgeryToken()
</form>

<script>
    $(
        () => {
            $("#registerForm").on("submit", () => {
                let formPayload = $("#registerForm").serialize();
                console.log(formPayload);

                $.post("/Member/Auth/Register", formPayload)
                 .done( (result) => {
                    if (result.success === false) {
                        alert("Failed to register account\nReason: " + result.message);
                        return;
                    }
                    alert("Welcome!");
                 });             
                event.preventDefault();
            });
        }
    );
</script>