@{
    ViewData["Title"] = "SignIn";
    Layout = "MemberLayout";
}
<h2>@ViewData["Title"]</h2>

@if (ViewData["Logged"] as bool? == true)
{
    <div class="alert alert-danger">
        You are already logged.
    </div>
}
else
{
    <form id="loginForm" method="post">
        <div class="form-entity">
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" name="Email" placeholder="example@example.com" required/>
        </div>
        <div class="form-entity">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="Password"/>
        </div>

        <input class="btn btn-primary" type="submit" value="Login"/>
        <a class="btn btn-primary" href="/Member/Auth/Register">Register</a>
        @Html.AntiForgeryToken()
    </form>

    <script>
        $(
            () => {
                $("#loginForm").on("submit", () => {
                    let formPayload = $("#loginForm").serialize();
                    console.log(formPayload);
    
                    $.post("/Member/Auth/SignIn", formPayload)
                     .done( (result) => {
                        if (result.success === false) {
                            alert("Failed to register account\nReason: " + result.message);
                            return;
                        }
                        alert("Welcome!");
                        location.href = "@ViewData["RedirectTo"]";
                     });             
                    event.preventDefault();
                });
            }
        );
    </script>
}