<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] : @StaticHelper.Meta?.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
