<!DOCTYPE html>

<html lang="@StaticHelper.Meta.Language">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PEngine Installer</title>

    <link rel="stylesheet" href="~/Resources/styles/install.css" />
</head>
<body>
    <header>
        <img src="~/Resources/pengine-icon.png"/>
        <h1>PEngine</h1>
    </header>
    <section id="installerBody">
        @RenderBody()
    </section>
    <footer>
        PEngine Copyright by P.Knowledge and PEngine Contributors, @DateTime.Now.Year All rights reserved. <br />
        PEngine is licensed under MIT License, freely used for proper purposes.
    </footer>
</body>
</html>
